@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  z-index: 10;
}
.second-modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 4rem;
  text-align: center;
  z-index: 10;
}
